canvas {
    border:2px dashed black;

}

body {

    background-color: blue;
}

canvas {
    animation-name: example;
    animation-duration: 1000s;
    animation-iteration-count: infinite;
}